<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间：找到所在的mapper接口的位置-->
<mapper namespace="com.example.demo.dao.StudentMapper">
    <!--sql语句代码-->
    <resultMap id="poResult" type="Student">
        <result property="id" javaType="java.lang.Integer" jdbcType="INTEGER" column="id"></result>
        <result property="name" javaType="java.lang.String" jdbcType="VARCHAR" column="name"></result>
        <result property="gender" javaType="java.lang.String" jdbcType="VARCHAR" column="gender"></result>
        <result property="age" javaType="java.lang.Integer" jdbcType="INTEGER" column="age"></result>
        <result property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" column="create_time"></result>
    </resultMap>
    <select id="findStuPageManual" resultType="Student" useCache="false">
        select * from student LIMIT #{begin},#{pageSize}
    </select>

</mapper>

